<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />

	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	<conversionRule conversionWord="wEx"
					converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

	<property name="CONSOLE_LOG_PATTERN"
			  value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
	
	<!-- 调试hibernate使用，将本次sql的参数打印的控制台中 -->
	<!-- <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/> -->
	<!-- 调试ehcache集群使用，将所有监控缓存的心跳打印到控制台中 -->
	<!-- <logger name="net.sf.ehcache" level="ALL"/> -->
	
	<!--<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
		<!--<file>logs/dactiv-base-curd.log</file>-->
		<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
			<!--<fileNamePattern>logs/dactiv-base-curd-%d{yyyy-MM-dd}.log</fileNamePattern>-->
		<!--</rollingPolicy>-->
		<!--<encoder>-->
			<!--<pattern>%d [%t] %-5p [%c:%L] - %m%n</pattern>-->
		<!--</encoder>-->
	<!--</appender>-->

	<logger name="dao" level="debug" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!--<logger name="org.quartz" level="debug" additivity="false">-->
		<!--<appender-ref ref="console"/>-->
	<!--</logger>-->

	<root level="INFO">
		<appender-ref ref="console" />
		<!--<appender-ref ref="rollingFile" />-->
	</root>
</configuration>